<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border="1">
{% for i in liste %}
    <td> {{i}} </td>
{% endfor %}
</table>
</body>
</html>